<a href="https://colab.research.google.com/github/Askoye/IP-week-4/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_06_Ted_Askoye_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Moringa Data Science Prep Independent Project: Week 3

Question

You will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Consider the following questions:

1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
What station is the most popular?
- Overall?
- At the most popular picking hour?

4


Datasets Provided:

1. DDI_Autolib_Dataset -
[http://bit.ly/autolib_dataset]
2. DDI_Autolib_Description -
[https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing]

##Importing our Libraries

In [0]:
#Importing Required Libraries

import pandas as pd
import numpy as np

##Loading and Previewing the Dataset

In [0]:
Autolib_df = pd.read_csv("Autolib_dataset (2).csv", index_col=None, delimiter=",", encoding='utf-8')
Autolib_df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

##Exploration

In [0]:
Autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

##Data Cleaning

In [0]:
# Irrelevant Data Information
# Dropping Irrelevant Columns: 'Cars' since 'Bluecar counter'has the same values
#  
Autolib_df.drop(['Address','Cars','Status','Scheduled at', 'Station type', 'Geo point','Subscription status','Displayed comment'],axis=1,inplace=True)
Autolib_df.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23

[5 rows x 17 columns]

####Checking for null values

In [0]:
Autolib_df.isnull().sum()

Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
Charge Slots          0
Charging Status       0
City                  0
ID                    0
Kind                  0
Postal code           0
Public name           0
Rental status         0
Slots                 0
year                  0
month                 0
day                   0
hour                  0
minute                0
dtype: int64

In [0]:
Autolib_df.isnull().any()

Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
Charge Slots          False
Charging Status       False
City                  False
ID                    False
Kind                  False
Postal code           False
Public name           False
Rental status         False
Slots                 False
year                  False
month                 False
day                   False
hour                  False
minute                False
dtype: bool

We have no null values in our dataset


####Checking for duplicated data

In [0]:
Autolib_df.duplicated().sum()

0

The dataset does not contain any duplicated data

####Renaming the Column names for Uniformity purposes

In [0]:
columns = ["Bluecar_Counter","Utilib_Counter","Utilib_1.4_Counter","Charge_Slots","Charging_Status","City","I.D","Kind","Postal_Code","Station_Name","Rental_Status","Parking_Slots","Year","Month","Day","Hour","Minute"]
Autolib_df.columns = columns
Autolib_df.head()

   Bluecar_Counter  Utilib_Counter  Utilib_1.4_Counter  ...  Day Hour Minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23

[5 rows x 17 columns]

####Cleaning City Names

In [0]:
Autolib_df['City'] = Autolib_df['City'].apply(lambda x : x.strip().capitalize()) 
Autolib_df.head()

   Bluecar_Counter  Utilib_Counter  ...  Minute           Date_Time
0                0               0  ...      43 2018-04-08 11:43:00
1                6               0  ...      24 2018-04-06 07:24:00
2                3               0  ...      14 2018-04-03 20:14:00
3                3               1  ...      37 2018-04-04 04:37:00
4                3               0  ...      23 2018-04-08 17:23:00

[5 rows x 18 columns]

#### Merging Necessary Data Columns

In [0]:
from datetime import datetime

Autolib_df['Date_Time'] = Autolib_df.apply(lambda row: datetime(row['Year'], row['Month'], row['Day'], row['Hour'],row['Minute']), axis=1)
Autolib_df.head()

   Bluecar_Counter  Utilib_Counter  ...  Minute           Date_Time
0                0               0  ...      43 2018-04-08 11:43:00
1                6               0  ...      24 2018-04-06 07:24:00
2                3               0  ...      14 2018-04-03 20:14:00
3                3               1  ...      37 2018-04-04 04:37:00
4                3               0  ...      23 2018-04-08 17:23:00

[5 rows x 18 columns]

##Data Analysis

What station is the most popular?
- Overall?

Finding the Overall Popular Station

In [0]:
Autolib_df['Station_Name'].mode()

0    Paris/Porte de Montrouge/8
dtype: object

In [0]:
Autolib_df['Station_Name'].value_counts(ascending=False).head(10)

Paris/Porte de Montrouge/8    13
Paris/Philippe Auguste/126    11
Paris/Courcelles/69           11
Paris/Mathis/35               11
SÃ¨vres/WolfenbÃ¼ttel/1       11
Paris/Voltaire/182            11
Paris/Grenelle 31/Parking     11
Paris/Georges Mandel/42       10
Paris/Darcet/28               10
Paris/Goubet/8                10
Name: Station_Name, dtype: int64

####Most popular picking hour

In [0]:
Autolib_df['Date_Time'].mode()

0   2018-04-06 05:52:00
dtype: datetime64[ns]